In [64]:
# Resources
import numpy as np
import sqlite3
import pandas as pd
import os
import sys

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy 
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract
from sqlalchemy import select
from sqlalchemy.orm import join
from sqlalchemy.sql import func
from sqlalchemy import or_
from sqlalchemy import inspect

In [65]:
##################################
# Database Setup
##################################

# https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite
# Module 9 Challenge
engine = create_engine(r'sqlite:///../../data/LIFE_EXPECTANCY_DB.db')

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Happiness = Base.classes.HAPPINESS_TABLE
Expectancy = Base.classes.EXPECTANCY_TABLE

In [66]:
# Tables in database
Base.classes.keys()

['EXPECTANCY_TABLE', 'HAPPINESS_TABLE']

In [67]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [68]:
inst = inspect(Expectancy)
Expectancy_columns = [c_attr.key for c_attr in inst.mapper.column_attrs]

In [69]:
# Columns of EXPECTANCY_TABLE
print(Expectancy_columns)

['ID', 'COUNTRY', 'YEAR', 'STATUS', 'EXPECTANCY', 'MORTALITY', 'INFANT_DEATH', 'ALCOHOL', 'EXPENDITURE_PERCENT', 'HEPATITUS_B', 'MEASLES', 'BMI', 'UNDER_FIVE_DEATH', 'POLIIO', 'EXPENDITURE_TOTAL', 'DIPHTHERIA', 'HIV_AIDS', 'GDP', 'POPULATION', 'THIN_1TO19_YR', 'THIN_5TO9_YR', 'INC_COMPOSITION', 'SCHOOLING']

In [70]:
inst = inspect(Happiness)
Happiness_columns = [c_attr.key for c_attr in inst.mapper.column_attrs]

In [71]:
# Columns of HAPPINESS_TABLE
print(Happiness_columns)

['ID', 'COUNTRY', 'REGION', 'HAPPINESS_SCORE', 'HAPPINESS_RANK', 'LOW_CONF', 'HIGH_CONF', 'STANDARD_ERROR', 'ECONOMY', 'FAMILY', 'HEALTH', 'FREEDOM', 'TRUST', 'GENEROSITY', 'DYSTOPIA', 'YEAR']

In [72]:
expect_results = []

# Query contents of EXPECTANCY_TABLE to list
expect_results = session.query(
    Expectancy.ID,
    Expectancy.COUNTRY,
    Expectancy.YEAR,
    Expectancy.STATUS,
    Expectancy.EXPECTANCY,
    Expectancy.MORTALITY,
    Expectancy.INFANT_DEATH,
    Expectancy.ALCOHOL,
    Expectancy.EXPENDITURE_PERCENT,
    Expectancy.HEPATITUS_B,
    Expectancy.MEASLES,
    Expectancy.BMI,
    Expectancy.UNDER_FIVE_DEATH,
    Expectancy.POLIIO,
    Expectancy.EXPENDITURE_TOTAL,
    Expectancy.DIPHTHERIA,
    Expectancy.HIV_AIDS,
    Expectancy.GDP,
    Expectancy.POPULATION,
    Expectancy.THIN_1TO19_YR,
    Expectancy.THIN_5TO9_YR,
    Expectancy.INC_COMPOSITION,
    Expectancy.SCHOOLING
    ).all()

#for temp_result in expect_results:
#    print(temp_result)

In [73]:
# Convert Expectancy list to dataframe
expect_df = pd.DataFrame(expect_results, columns=Expectancy_columns)
print(expect_df)

        ID      COUNTRY  YEAR      STATUS EXPECTANCY MORTALITY  INFANT_DEATH  \
0        1  Afghanistan  2015  Developing         65       263          62.0
1        2  Afghanistan  2014  Developing       59.9       271          64.0
2        3  Afghanistan  2013  Developing       59.9       268          66.0
3        4  Afghanistan  2012  Developing       59.5       272          69.0
4        5  Afghanistan  2011  Developing       59.2       275          71.0
...    ...          ...   ...         ...        ...       ...           ...
2933  2934     Zimbabwe  2004  Developing       44.3       723          27.0
2934  2935     Zimbabwe  2003  Developing       44.5       715          26.0
2935  2936     Zimbabwe  2002  Developing       44.8        73          25.0
2936  2937     Zimbabwe  2001  Developing       45.3       686          25.0
2937  2938     Zimbabwe  2000  Developing         46       665          24.0

     ALCOHOL  EXPENDITURE_PERCENT HEPATITUS_B  ...  POLIIO EXPENDITURE_TOTAL  \
0       0.01            71.279624          65  ...       6              8.16
1       0.01            73.523582          62  ...      58              8.18
2       0.01            73.219243          64  ...      62              8.13
3       0.01            78.184215          67  ...      67              8.52
4       0.01             7.097109          68  ...      68              7.87
...      ...                  ...         ...  ...     ...               ...
2933    4.36             0.000000          68  ...      67              7.13
2934    4.06             0.000000           7  ...       7              6.52
2935    4.43             0.000000          73  ...      73              6.53
2936    1.72             0.000000          76  ...      76              6.16
2937    1.68             0.000000          79  ...      78               7.1

      DIPHTHERIA HIV_AIDS      GDP   POPULATION  THIN_1TO19_YR THIN_5TO9_YR  \
0             65      0.1  584.259  3.37365e+07           17.2         17.3
1             62      0.1  612.697       327582           17.5         17.5
2             64      0.1  631.745  3.17317e+07           17.7         17.7
3             67      0.1  669.959  3.69696e+06           17.9           18
4             68      0.1  63.5372   2.9786e+06           18.2         18.2
...          ...      ...      ...          ...            ...          ...
2933          65     33.6  454.367  1.27775e+07            9.4          9.4
2934          68     36.7  453.351  1.26339e+07            9.8          9.9
2935          71     39.8  57.3483       125525            1.2          1.3
2936          75     42.1  548.587  1.23662e+07            1.6          1.7
2937          78     43.5  547.359  1.22223e+07             11         11.2

     INC_COMPOSITION SCHOOLING
0              0.479      10.1
1              0.476        10
2               0.47       9.9
3              0.463       9.8
4              0.454       9.5
...              ...       ...
2933           0.407       9.2
2934           0.418       9.5
2935           0.427        10
2936           0.427       9.8
2937           0.434       9.8

[2938 rows x 23 columns]

In [74]:
expect_df.head(10)

,ID,COUNTRY,YEAR,STATUS,EXPECTANCY,MORTALITY,INFANT_DEATH,ALCOHOL,EXPENDITURE_PERCENT,HEPATITUS_B,...,POLIIO,EXPENDITURE_TOTAL,DIPHTHERIA,HIV_AIDS,GDP,POPULATION,THIN_1TO19_YR,THIN_5TO9_YR,INC_COMPOSITION,SCHOOLING
0,1,Afghanistan,2015,Developing,65,263,62.0,0.01,71.279624,65,...,6,8.16,65,0.1,584.259,3.37365e+07,17.2,17.3,0.479,10.1
1,2,Afghanistan,2014,Developing,59.9,271,64.0,0.01,73.523582,62,...,58,8.18,62,0.1,612.697,327582,17.5,17.5,0.476,10
2,3,Afghanistan,2013,Developing,59.9,268,66.0,0.01,73.219243,64,...,62,8.13,64,0.1,631.745,3.17317e+07,17.7,17.7,0.47,9.9
3,4,Afghanistan,2012,Developing,59.5,272,69.0,0.01,78.184215,67,...,67,8.52,67,0.1,669.959,3.69696e+06,17.9,18,0.463,9.8
4,5,Afghanistan,2011,Developing,59.2,275,71.0,0.01,7.097109,68,...,68,7.87,68,0.1,63.5372,2.9786e+06,18.2,18.2,0.454,9.5
5,6,Afghanistan,2010,Developing,58.8,279,74.0,0.01,79.679367,66,...,66,9.2,66,0.1,553.329,2.88317e+06,18.4,18.4,0.448,9.2
6,7,Afghanistan,2009,Developing,58.6,281,77.0,0.01,56.762217,63,...,63,9.42,63,0.1,445.893,284331,18.6,18.7,0.434,8.9
7,8,Afghanistan,2008,Developing,58.1,287,80.0,0.03,25.873925,64,...,64,8.33,64,0.1,373.361,2.72943e+06,18.8,18.9,0.433,8.7
8,9,Afghanistan,2007,Developing,57.5,295,82.0,0.02,10.910156,63,...,63,6.73,63,0.1,369.836,2.66168e+07,19,19.1,0.415,8.4
9,10,Afghanistan,2006,Developing,57.3,295,84.0,0.03,17.171518,64,...,58,7.43,58,0.1,272.564,2.58934e+06,19.2,19.3,0.405,8.1

In [75]:
expect_df.dtypes

ID                       int64
COUNTRY                 object
YEAR                     int64
STATUS                  object
EXPECTANCY              object
MORTALITY               object
INFANT_DEATH           float64
ALCOHOL                 object
EXPENDITURE_PERCENT    float64
HEPATITUS_B             object
MEASLES                float64
BMI                     object
UNDER_FIVE_DEATH       float64
POLIIO                  object
EXPENDITURE_TOTAL       object
DIPHTHERIA              object
HIV_AIDS               float64
GDP                     object
POPULATION              object
THIN_1TO19_YR           object
THIN_5TO9_YR            object
INC_COMPOSITION         object
SCHOOLING               object
dtype: object

In [76]:
expect_dtype_convert_df = expect_df.apply(lambda col:pd.to_numeric(col, errors='coerce'))

expect_dtype_convert_df.dtypes

ID                       int64
COUNTRY                float64
YEAR                     int64
STATUS                 float64
EXPECTANCY             float64
MORTALITY              float64
INFANT_DEATH           float64
ALCOHOL                float64
EXPENDITURE_PERCENT    float64
HEPATITUS_B            float64
MEASLES                float64
BMI                    float64
UNDER_FIVE_DEATH       float64
POLIIO                 float64
EXPENDITURE_TOTAL      float64
DIPHTHERIA             float64
HIV_AIDS               float64
GDP                    float64
POPULATION             float64
THIN_1TO19_YR          float64
THIN_5TO9_YR           float64
INC_COMPOSITION        float64
SCHOOLING              float64
dtype: object

In [77]:
expect_avg_df = expect_dtype_convert_df.groupby(['EXPECTANCY']).mean()
expect_avg_df = expect_avg_df.drop(columns=['ID','YEAR','COUNTRY','STATUS','POPULATION'])


expect_avg_df.head(10)

,MORTALITY,INFANT_DEATH,ALCOHOL,EXPENDITURE_PERCENT,HEPATITUS_B,MEASLES,BMI,UNDER_FIVE_DEATH,POLIIO,EXPENDITURE_TOTAL,DIPHTHERIA,HIV_AIDS,GDP,THIN_1TO19_YR,THIN_5TO9_YR,INC_COMPOSITION,SCHOOLING
EXPECTANCY,,,,,,,,,,,,,,,,,
36.3,682.0,23.0,5.76,36.292918,NaN,0.0,44.2,58.0,66.0,8.90,66.0,1.9,662.279518,4.0,4.0,0.470,8.6
39.0,533.0,29.0,3.97,20.395683,NaN,3575.0,17.2,48.0,46.0,13.63,44.0,1.2,139.314773,1.3,1.4,0.292,6.7
41.0,519.0,30.0,4.21,33.346915,NaN,649.0,17.5,48.0,38.0,11.83,38.0,1.5,227.779471,1.1,1.2,0.302,7.0
41.5,57.0,30.0,4.07,38.614732,NaN,586.0,18.4,47.0,66.0,11.69,73.0,1.9,263.761831,9.7,9.8,0.322,7.4
42.3,496.0,30.0,3.99,38.524548,NaN,7.0,18.8,47.0,69.0,11.66,65.0,2.1,263.145817,9.5,9.5,0.332,7.6
43.1,588.0,51.0,1.18,13.762702,NaN,304.0,14.1,84.0,73.0,6.70,75.0,25.5,153.259487,8.0,7.9,0.391,10.7
43.3,48.0,30.0,3.83,42.088929,NaN,29.0,19.2,47.0,67.0,12.25,65.0,2.2,287.689194,9.3,9.3,0.341,7.8
43.5,599.0,48.0,1.15,12.797606,NaN,150.0,14.4,80.0,86.0,5.70,9.0,25.1,146.761540,7.9,7.7,0.387,10.1
43.8,614.0,44.0,2.62,45.616880,NaN,30930.0,16.8,72.0,85.0,7.16,85.0,18.7,341.955625,7.5,7.5,0.418,9.6
44.0,67.0,46.0,1.10,3.885395,64.0,92.0,14.8,75.0,79.0,4.82,64.0,24.7,29.979898,7.7,7.6,0.388,10.4

In [78]:
happy_results = []

# Query contents of HAPPINESS_TABLE to list
happy_results = session.query(
    Happiness.ID,
    Happiness.COUNTRY,
    Happiness.REGION,
    Happiness.HAPPINESS_SCORE,
    Happiness.HAPPINESS_RANK,
    Happiness.LOW_CONF,
    Happiness.HIGH_CONF,    
    Happiness.STANDARD_ERROR,
    Happiness.ECONOMY,
    Happiness.FAMILY,
    Happiness.HEALTH,
    Happiness.FREEDOM,
    Happiness.TRUST,
    Happiness.GENEROSITY,
    Happiness.DYSTOPIA,
    Happiness.YEAR
    ).all()

#for temp_result in happy_results:
#    print(temp_result)

In [79]:
# Convert Happiness list to dataframe
happy_df = pd.DataFrame(happy_results, columns=Happiness_columns)
happy_df = happy_df.rename(columns={"HAPPINESS_SCORE":"HAPPINESS_RANK","HAPPINESS_RANK":"HAPPINESS_SCORE"})

print(happy_df)

      ID                   COUNTRY          REGION  HAPPINESS_RANK  \
0      1               Switzerland  Western Europe             1.0
1      2                   Iceland  Western Europe             2.0
2      3                   Denmark  Western Europe             3.0
3      4                    Norway  Western Europe             4.0
4      5                    Canada   North America             5.0
..   ...                       ...             ...             ...
777  778                    Rwanda                           152.0
778  779                  Tanzania                           153.0
779  780               Afghanistan                           154.0
780  781  Central African Republic                           155.0
781  782               South Sudan                           156.0

     HAPPINESS_SCORE LOW_CONF HIGH_CONF STANDARD_ERROR  ECONOMY   FAMILY  \
0              7.587                           0.03411  1.39651  1.34951
1              7.561                           0.04884  1.30232  1.40223
2              7.527                           0.03328  1.32548  1.36058
3              7.522                            0.0388  1.45900  1.33095
4              7.427                           0.03553  1.32629  1.32261
..               ...      ...       ...            ...      ...      ...
777            3.334                                    0.35900  0.71100
778            3.231                                    0.47600  0.88500
779            3.203                                    0.35000  0.51700
780            3.083                                    0.02600  0.00000
781            2.853                                    0.30600  0.57500

      HEALTH  FREEDOM    TRUST  GENEROSITY DYSTOPIA  YEAR
0    0.94143  0.66557  0.41978     0.29678  2.51738  2015
1    0.94784  0.62877  0.14145     0.43630  2.70201  2015
2    0.87464  0.64938  0.48357     0.34139  2.49204  2015
3    0.88521  0.66973  0.36503     0.34699  2.46531  2015
4    0.90563  0.63297  0.32957     0.45811  2.45176  2015
..       ...      ...      ...         ...      ...   ...
777  0.61400  0.55500    0.411     0.21700           2019
778  0.49900  0.41700    0.147     0.27600           2019
779  0.36100  0.00000    0.025     0.15800           2019
780  0.10500  0.22500    0.035     0.23500           2019
781  0.29500  0.01000    0.091     0.20200           2019

[782 rows x 16 columns]

In [80]:
happy_df.head(10)

,ID,COUNTRY,REGION,HAPPINESS_RANK,HAPPINESS_SCORE,LOW_CONF,HIGH_CONF,STANDARD_ERROR,ECONOMY,FAMILY,HEALTH,FREEDOM,TRUST,GENEROSITY,DYSTOPIA,YEAR
0,1,Switzerland,Western Europe,1.0,7.587,,,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,2,Iceland,Western Europe,2.0,7.561,,,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,3,Denmark,Western Europe,3.0,7.527,,,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,4,Norway,Western Europe,4.0,7.522,,,0.0388,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,5,Canada,North America,5.0,7.427,,,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
5,6,Finland,Western Europe,6.0,7.406,,,0.0314,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955,2015
6,7,Netherlands,Western Europe,7.0,7.378,,,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.4657,2015
7,8,Sweden,Western Europe,8.0,7.364,,,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119,2015
8,9,New Zealand,Australia and New Zealand,9.0,7.286,,,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425,2015
9,10,Australia,Australia and New Zealand,10.0,7.284,,,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646,2015

In [81]:
happy_df.dtypes

ID                   int64
COUNTRY             object
REGION              object
HAPPINESS_RANK     float64
HAPPINESS_SCORE    float64
LOW_CONF            object
HIGH_CONF           object
STANDARD_ERROR      object
ECONOMY            float64
FAMILY             float64
HEALTH             float64
FREEDOM            float64
TRUST               object
GENEROSITY         float64
DYSTOPIA            object
YEAR                 int64
dtype: object

In [82]:
happy_dtype_convert_df = happy_df.apply(lambda col:pd.to_numeric(col, errors='coerce'))

happy_dtype_convert_df.dtypes

ID                   int64
COUNTRY            float64
REGION             float64
HAPPINESS_RANK     float64
HAPPINESS_SCORE    float64
LOW_CONF           float64
HIGH_CONF          float64
STANDARD_ERROR     float64
ECONOMY            float64
FAMILY             float64
HEALTH             float64
FREEDOM            float64
TRUST              float64
GENEROSITY         float64
DYSTOPIA           float64
YEAR                 int64
dtype: object

In [83]:
happy_avg_df = happy_dtype_convert_df.groupby(['HEALTH']).mean()
happy_avg_df = happy_avg_df.drop(columns=['ID','YEAR','COUNTRY','REGION','LOW_CONF','HIGH_CONF','STANDARD_ERROR','YEAR'])


happy_avg_df.head(10)

,HAPPINESS_RANK,HAPPINESS_SCORE,ECONOMY,FAMILY,FREEDOM,TRUST,GENEROSITY,DYSTOPIA
HEALTH,,,,,,,,
0.000000,124.2,4.3466,0.456622,0.947161,0.354782,0.095383,0.184669,2.317982
0.005565,106.0,4.7090,0.368421,0.984136,0.318698,0.071095,0.293041,2.668460
0.010000,155.0,3.0830,0.024000,0.000000,0.305000,0.038000,0.218000,NaN
0.018773,155.0,2.6930,0.000000,0.000000,0.270842,0.056565,0.280876,2.066005
0.038240,144.0,3.7630,0.422140,0.631780,0.128070,0.049520,0.186670,2.306370
0.041135,137.0,3.9360,0.438013,0.953856,0.162342,0.053582,0.216114,2.071238
0.044760,139.0,3.9160,0.555070,0.575760,0.406630,0.155300,0.203380,1.974780
0.047760,128.0,4.3320,0.993550,1.104640,0.494950,0.124740,0.104610,1.461810
0.048000,91.0,5.1550,0.689000,1.172000,0.462000,0.032000,0.201000,NaN
0.048642,128.0,4.1800,0.603049,0.904780,0.447706,0.130062,0.201237,1.844964

In [85]:
happy_avg_df.to_csv(r'../../data/happy_avg_df.csv',index=False)
expect_avg_df.to_csv(r'../../data/expect_avg_df.csv',index=False)

In [86]:
# INNER JOIN between Expectancy & Happiness data with filter on Expectancy data to only view 2015 year.

happy_expect_join = []

happy_expect_join_columns = Expectancy_columns + Happiness_columns

happy_expect_join = session.query(
    Expectancy.ID.label("E_ID"),
    Expectancy.COUNTRY,
    Expectancy.YEAR,
    Expectancy.STATUS,
    Expectancy.EXPECTANCY,
    Expectancy.MORTALITY,
    Expectancy.INFANT_DEATH,
    Expectancy.ALCOHOL,
    Expectancy.EXPENDITURE_PERCENT,
    Expectancy.HEPATITUS_B,
    Expectancy.MEASLES,
    Expectancy.BMI,
    Expectancy.UNDER_FIVE_DEATH,
    Expectancy.POLIIO,
    Expectancy.EXPENDITURE_TOTAL,
    Expectancy.DIPHTHERIA,
    Expectancy.HIV_AIDS,
    Expectancy.GDP,
    Expectancy.POPULATION,
    Expectancy.THIN_1TO19_YR,
    Expectancy.THIN_5TO9_YR,
    Expectancy.INC_COMPOSITION,
    Expectancy.SCHOOLING,
    Happiness.ID,
    Happiness.COUNTRY,
    Happiness.REGION,
    Happiness.HAPPINESS_SCORE,
    Happiness.HAPPINESS_RANK,
    Happiness.LOW_CONF,
    Happiness.HIGH_CONF,    
    Happiness.STANDARD_ERROR,
    Happiness.ECONOMY,
    Happiness.FAMILY,
    Happiness.HEALTH,
    Happiness.FREEDOM,
    Happiness.TRUST,
    Happiness.GENEROSITY,
    Happiness.DYSTOPIA,
    Happiness.YEAR
).join(Happiness, func.lower(Expectancy.COUNTRY) == func.lower(Happiness.COUNTRY)
).filter(Expectancy.YEAR == '2015'
).filter(Happiness.YEAR == '2015').all()

happy_expect_join_df = pd.DataFrame(happy_expect_join, columns=happy_expect_join_columns)

print(happy_expect_join_df)

       ID      COUNTRY  YEAR      STATUS  EXPECTANCY  MORTALITY  INFANT_DEATH  \
0       1  Afghanistan  2015  Developing        65.0      263.0          62.0
1      17      Albania  2015  Developing        77.8       74.0           0.0
2      33      Algeria  2015  Developing        75.6       19.0          21.0
3      49       Angola  2015  Developing        52.4      335.0          66.0
4      81    Argentina  2015  Developing        76.3      116.0           8.0
..    ...          ...   ...         ...         ...        ...           ...
130  2811      Uruguay  2015  Developing        77.0      116.0           0.0
131  2827   Uzbekistan  2015  Developing        69.4      184.0          15.0
132  2891        Yemen  2015  Developing        65.7      224.0          37.0
133  2907       Zambia  2015  Developing        61.8       33.0          27.0
134  2923     Zimbabwe  2015  Developing        67.0      336.0          22.0

    ALCOHOL  EXPENDITURE_PERCENT HEPATITUS_B  ...  HIGH_CONF STANDARD_ERROR  \
0      0.01            71.279624          65  ...                   0.03084
1       4.6           364.975229          99  ...                   0.05013
2                       0.000000          95  ...                   0.05099
3                       0.000000          64  ...                   0.04758
4                       0.000000          94  ...                   0.04612
..      ...                  ...         ...  ...        ...            ...
130                     0.000000          95  ...                   0.04539
131                     0.000000          99  ...                   0.04361
132                     0.000000          69  ...                   0.04367
133                     0.000000           9  ...                   0.06988
134                     0.000000          87  ...                   0.04290

     ECONOMY   FAMILY   HEALTH  FREEDOM    TRUST GENEROSITY DYSTOPIA  YEAR
0    0.31982  0.30285  0.30335  0.23414  0.09719    0.36510  1.95210  2015
1    0.87867  0.80434  0.81325  0.35733  0.06413    0.14272  1.89894  2015
2    0.93929  1.07772  0.61766  0.28579  0.17383    0.07822  2.43209  2015
3    0.75778  0.86040  0.16683  0.10384  0.07122    0.12344  1.94939  2015
4    1.05351  1.24823  0.78723  0.44974  0.08484    0.11451  2.83600  2015
..       ...      ...      ...      ...      ...        ...      ...   ...
130  1.06166  1.20890  0.81160  0.60362  0.24558    0.23240  2.32142  2015
131  0.63244  1.34043  0.59772  0.65821  0.30826    0.22837  2.23741  2015
132  0.54649  0.68093  0.40064  0.35571  0.07854    0.09131  1.92313  2015
133  0.47038  0.91612  0.29924  0.48827  0.12468    0.19591  2.63430  2015
134  0.27100  1.03276  0.33475  0.25861  0.08079    0.18987  2.44191  2015

[135 rows x 39 columns]

In [87]:
# Columns of the joined data between Expectancy & Happiness

for col in happy_expect_join_df.columns: 
    print(col)

ID
COUNTRY
YEAR
STATUS
EXPECTANCY
MORTALITY
INFANT_DEATH
ALCOHOL
EXPENDITURE_PERCENT
HEPATITUS_B
MEASLES
BMI
UNDER_FIVE_DEATH
POLIIO
EXPENDITURE_TOTAL
DIPHTHERIA
HIV_AIDS
GDP
POPULATION
THIN_1TO19_YR
THIN_5TO9_YR
INC_COMPOSITION
SCHOOLING
ID
COUNTRY
REGION
HAPPINESS_SCORE
HAPPINESS_RANK
LOW_CONF
HIGH_CONF
STANDARD_ERROR
ECONOMY
FAMILY
HEALTH
FREEDOM
TRUST
GENEROSITY
DYSTOPIA
YEAR

In [88]:
# Check for NULL values in Happy Dataframe
for column in happy_df.columns:
    print(f'Column {column} has {happy_df[column].isnull().sum()} null values')

Column ID has 0 null values
Column COUNTRY has 0 null values
Column REGION has 0 null values
Column HAPPINESS_RANK has 0 null values
Column HAPPINESS_SCORE has 0 null values
Column LOW_CONF has 0 null values
Column HIGH_CONF has 0 null values
Column STANDARD_ERROR has 0 null values
Column ECONOMY has 0 null values
Column FAMILY has 0 null values
Column HEALTH has 0 null values
Column FREEDOM has 0 null values
Column TRUST has 0 null values
Column GENEROSITY has 0 null values
Column DYSTOPIA has 0 null values
Column YEAR has 0 null values

In [89]:
# Check for NULL values in Expect Dataframe
for column in expect_df.columns:
    print(f'Column {column} has {expect_df[column].isnull().sum()} null values')

Column ID has 0 null values
Column COUNTRY has 0 null values
Column YEAR has 0 null values
Column STATUS has 0 null values
Column EXPECTANCY has 0 null values
Column MORTALITY has 0 null values
Column INFANT_DEATH has 0 null values
Column ALCOHOL has 0 null values
Column EXPENDITURE_PERCENT has 0 null values
Column HEPATITUS_B has 0 null values
Column MEASLES has 0 null values
Column BMI has 0 null values
Column UNDER_FIVE_DEATH has 0 null values
Column POLIIO has 0 null values
Column EXPENDITURE_TOTAL has 0 null values
Column DIPHTHERIA has 0 null values
Column HIV_AIDS has 0 null values
Column GDP has 0 null values
Column POPULATION has 0 null values
Column THIN_1TO19_YR has 0 null values
Column THIN_5TO9_YR has 0 null values
Column INC_COMPOSITION has 0 null values
Column SCHOOLING has 0 null values

In [90]:
# Close DB Session
session.close()